<!-- Blog Column -->
<div class="press-release-list blog-list-wrap margin-top-30">
	<!-- Blog Wrapper -->
	<div class="blog-wrap">
		{{ content.field_pr_image }}
		<div class="blog-details">
			<h4><a href="{{ url }}" class="{{ url_class }}">{{ label }}</a></h4>
			<a class="btn-link {{ url_class}}" href="{{ url }}">Read More</a>
		</div><!-- Blog Detail Wrapper -->
	</div><!-- Blog Detail Column -->
</div><!-- Column -->