<li class="col-xs-12 blog-list-wrap">
	<!-- Blog Wrapper -->
	<div class="row blog-wrap">
		<!-- Blog Detail Wrapper -->
		<div class="col-sm-12">
			<div class="blog-details">
				<h4><a href="{{ url }}" class="{{ url_class }}">{{ label }}</a></h4>
				<a class="{{ url_class}} btn" href="{{ url }}">Read More</a>
			</div><!-- Blog Detail Wrapper -->
		</div><!-- Blog Detail Column -->
	</div><!-- Blog Wrapper -->
	<!-- Divider -->
	<hr class="md">
</li><!-- Column -->