<!-- Header Begins -->
{% include theme_path ~ "/templates/header/header-3.html.twig" %}
<!-- Header Ends -->

{% if page.slider %}
	{{ page.slider }}
{% endif %}
{% if page.slider_bottom %}
	{{ page.slider_bottom }}
{% endif %}
<div role="main" class="main"> 
  <div class="container">
    
    {% if page.content %}
    <section class="col-sm-12 main_content"> {{ page.content }} </section>
    {% endif %}
		
    {% if page.top_section %}
    <section class="col-sm-12 top-section"> {{ page.top_section }} </section>
    {% endif %}
		
		{% if page.two_third_content_left or page.one_third_content_right %}
    <section class="col-sm-12 two_third_one_third">
    {% if page.two_third_content_left %}
    <div class="col-sm-7"> {{ page.two_third_content_left }} </div><!-- Left Content -->
    {% endif %}
    {% if page.one_third_content_right %}
    <div class="col-sm-5"> {{ page.one_third_content_right }} </div><!-- Right Content -->
    {% endif %}
    </section>
    {% endif %}
		
		{% if page.one_third_content_left or page.two_third_content_right %}
    <section class="col-sm-12 one_third_two_third">
    {% if page.one_third_content_left %}
    <div class="col-sm-5"> {{ page.one_third_content_left }} </div><!-- Right Content -->
    {% endif %}
    {% if page.two_third_content_right %}
    <div class="col-sm-7"> {{ page.two_third_content_right }} </div><!-- Left Content -->
    {% endif %}
    </section>
    {% endif %}		
		
		
    {% if page.middle_section %}
    <section class="col-sm-12 middle_section"> {{ page.middle_section }} </section>
    {% endif %}
    
		{% if page.left_content or page.right_content %}
    <section class="col-sm-12 left_right_content">
    {% if page.left_content %}
    <div class="col-sm-6"> {{ page.left_content }} </div><!-- Left Content -->
    {% endif %}

    {% if page.right_content %}
    <div class="col-sm-6"> {{ page.right_content }} </div><!-- Right Content -->
    {% endif %}
    
    </section>
    {% endif %}
		
    {% if page.section %}
    <section class="col-sm-12 section"> {{ page.section }} </section>
    {% endif %}
    
  </div>
</div>


<!-- Footer -->
{% include theme_path ~ "/templates/footer/footer-7.html.twig" %}
<!-- Footer -->