<header id="header" class="clean-top center">
	<div class="header-top">
		<div class="container">
			{{ page.header_top_2 }}
			{% if header_social_networks %}
				{{ header_social_networks|t }}
			{% endif %}
			{{ page.search }}
		</div>
	</div>
	<div class="container">
		<div class="logo">
            {{ page.header }}
        </div>
		<button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
			<i class="fa fa-bars"></i>
		</button>
	</div>
	<div class="navbar-collapse nav-main-collapse collapse">
		<div class="container mega-menu-wide-container">
			{{ page.main_menu }}
		</div>
	</div>
</header>