<!-- Page Header -->
<div class="page-header lg video-bg bg-img overlay" data-background="{{ image_page_header_bg }}" data-stellar-background-ratio="0.5" >
	<div class="player" data-property="{videoURL:'{{ field_header_bg_video }}',containment:'.video-bg',startAt:0, mute:true, autoPlay:true, showControls:false}"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<!-- Page Header Wrapper -->
				<div class="page-header-wrapper">
					<!-- Title & Sub Title -->
					<h3 class="title">{{ title }}</h3>
					{% if node.field_sub_title %}
					<h6 class="sub-title">{{ node.field_sub_title.0.value }}</h6>
					{% endif %}
					{{ page.breadcrumb }}
				</div><!-- Page Header Wrapper -->
			</div><!-- Coloumn -->
		</div><!-- Row -->
	</div><!-- Container -->
</div><!-- Page Header -->