<!-- Widget Column -->
<div {{ attributes.addClass('col-sm-3') }}>
	<!-- Widget -->
	<div class="widget">
		{{ title_prefix }}
 		{% if label %}
		    <h5 class="widget-title">{{ label }}<span></span></h5>
		{% endif %}
		{{ title_suffix }}
	    {% if content %}
	        {{ content }}
	    {% endif %}
	</div><!-- Widget -->
</div><!-- Column -->