<!-- Page Main -->
<div class="main relative full-screen bg-img bg-cover overlay bg-color heavy" data-background="{{ maintenance_page_header_bg }}"  data-stellar-background-ratio="0.5">
	<!-- Section -->
	<div class="page-default typo-dark">
		<!-- Container -->
		<div class="container">
			<!-- Row -->
			<div class="row">
				<div class="col-md-offset-1 col-md-10">
					<ul class="template-box box-comingsoon parent-has-overlay">
						<!-- Page Template Logo -->
						<li class="logo-wrap">
							<a href="{{ front_page }}" class="logo">
								<img width="211" height="40" alt="logo" class="img-responsive" src="{{ logo }}">
								<p class="slogan">{{ title }}</p>
							</a>
						</li><!-- Page Template Logo -->
						<!-- Page Template Descriptin -->
						<li class="template-content">
							<h5>{{ page.content }}</h5>
						</li><!-- Page Template Descriptin -->
					</ul>
				</div><!-- Column -->
			</div><!-- Row -->
		</div><!-- Container -->	
	</div><!-- Page Default -->
</div><!-- Page Main -->