{% set bg_img_url = file_url(node.field_header_background.entity.uri.value) %}
<!-- Theme Panel Switcher -->
{% if disable_switch =='on' %}
    {% include theme_path ~ "/templates/switcher-style.html.twig" %}
{% endif %}<!-- End Theme Panel Switcher -->
<!-- Page Main -->
<div class="main relative full-screen bg-img bg-cover overlay bg-color heavy" data-background="{{ bg_img_url }}"  data-stellar-background-ratio="0.5">
	<!-- Section -->
	<div class="page-default typo-dark">
		<!-- Container -->
		<div class="container">
			<!-- Row -->
			<div class="row">
				<div class="col-md-offset-1 col-md-10">
					<ul class="template-box box-comingsoon parent-has-overlay">
						<!--Page Template Logo -->
						<li class="logo-wrap">
							{{ page.header }}
							<p class="slogan">{{ title }}</p>
						</li><!-- Page Template Logo -->
						<!-- Page Template Content -->
						<li class="template-content">
							<div id="daycounter-comingsooon" class="daycounter clearfix" data-counter="down" data-year="{{ cm_yyyy }}" data-month="{{ cm_mm }}" data-date="{{ cm_dd }}"></div>
						</li><!-- Page Template Content -->
						<!-- Page Template Descriptin -->
						<li class="template-content">
							<p class="slogan">{{ node.field_slogan_coming_soon.0.value }}</p>
						</li><!-- Page Template Descriptin -->
						<!-- Page Template Social -->
						{{ page.content_full_bar }}
						{{ page.content }}
					</ul>
				</div><!-- Column -->
			</div><!-- Row -->
		</div><!-- Container -->	
	</div><!-- Page Default -->
</div><!-- Page Main -->