{% set bg_img_url = file_url(node.field_logo_company.entity.uri.value) %}
{% set salary = node.field_salary.0.value %}
{% set working_time = node.field_working_time.0.value %}
{% set address_company = node.field_address_company.0.value %}	
<!-- Theme Panel Switcher -->
{% if disable_switch =='on' %}
    {% include theme_path ~ "/templates/switcher-style.html.twig" %}
{% endif %}<!-- End Theme Panel Switcher -->
{% set header_style = node.field_header_style.0.value %}
{% if header_style == '' %}
  {% set header_style = 'style1' %}
{% endif %}
{% set page_header = node.field_page_header.0.value %}
{% if page_header == '' %}
  {% set page_header = 'none' %}
{% endif %}
<!-- Header Begins -->
{% include theme_path ~ "/templates/header/header-3.html.twig" %}
<!-- Header Ends -->

<!-- Page Header -->
{% if page_header == 'default' %}
	{% include theme_path ~ "/templates/page header/page-header-1.html.twig" %}
{% elseif page_header == 'dark' %}
	{% include theme_path ~ "/templates/page header/page-header-2.html.twig" %}
{% elseif page_header == 'small' %}
	{% include theme_path ~ "/templates/page header/page-header-3.html.twig" %}
{% elseif page_header == 'center' %}
	{% include theme_path ~ "/templates/page header/page-header-4.html.twig" %}
{% elseif page_header == 'button' %}
	{% include theme_path ~ "/templates/page header/page-header-5.html.twig" %}
{% elseif page_header == 'contact' %}
	{% include theme_path ~ "/templates/page header/page-header-6.html.twig" %}
{% elseif page_header == 'video' %}
	{% include theme_path ~ "/templates/page header/page-header-7.html.twig" %}
{% elseif page_header == 'image' %}
	{% include theme_path ~ "/templates/page header/page-header-8.html.twig" %}
{% elseif page_header == 'color' %}
	{% include theme_path ~ "/templates/page header/page-header-9.html.twig" %}
{% else %}
{% endif %}
<!-- Page Header -->

<!-- Model Window -->
{% if page.model_window %}
	{{ page.model_window }}
{% endif %}
<!-- Model Window -->		
{% if header_style == 'style6' %}
	{% include theme_path ~ "/templates/header/header-6.html.twig" %}	
{% endif %}

<!-- Page Main -->
<div role="main" class="main">
	<div class="page-default bg-grey">
		<!-- Section -->
		<div class="typo-dark">
			<!-- Container -->
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						{{ page.content_full_bar }}
						<!-- Details Listing Wrap -->
						<ul class="listing-wrap">
							<li class="listing">
								<div class="agenchy-single-company-logo">
									<div class="listing-column company-logo">
										<img width="140" height="80" src="{{ bg_img_url }}" class="img-responsive" alt="{{ title }}">
									</div><!-- Company Logo -->
									<div class="listing-column job-details">
										<h5 class="posting">{{ title }}</h5>
										{% if address_company %}
										<span class="font-secondary">{{ address_company }}</span>
									{% endif %}
									</div><!-- Job Details -->
									<div class="listing-column job-type">
										{% if working_time %}
											<h5 class="job-type cat">{{ working_time }}</h5>
										{% endif %}
										{% if salary %}
										<span class="font-secondary">{{ salary }}</span>
										{% endif %}
									</div><!-- Job Type -->
									{{ page.content }}
								</div><!-- Listing Link Wrap -->
							</li><!-- Listing Wrap -->
						</ul><!-- Details Listing Wrap -->
					</div><!-- Column -->
				</div><!-- Row -->
			</div><!-- Container -->
		</div><!-- Team List Section -->
	</div><!-- Page Default -->	
</div><!-- Page Main -->
<!-- Footer -->
{% set footer_style = node.field_footer_style.0.value %}
{% if footer_style == '' %}
  {% set footer_style = 'default' %}
{% endif %}
{% include theme_path ~ "/templates/footer/footer-7.html.twig" %}
<!-- Footer -->