<!-- Theme Panel Switcher -->
{% if disable_switch =='on' %}
    {% include theme_path ~ "/templates/switcher-style.html.twig" %}
{% endif %}<!-- End Theme Panel Switcher -->

<!-- Header Begins -->
{% include theme_path ~ "/templates/header/header-3.html.twig" %}
<!-- Header Ends -->

<!-- Page Header -->
{% if page_headers_style == 'dark' %}
	{% include theme_path ~ "/templates/page header/page-header-2.html.twig" %}
{% elseif page_headers_style == 'small' %}
	{% include theme_path ~ "/templates/page header/page-header-3.html.twig" %}
{% elseif page_headers_style == 'center' %}
	{% include theme_path ~ "/templates/page header/page-header-4.html.twig" %}
{% elseif page_headers_style == 'button' %}
	{% include theme_path ~ "/templates/page header/page-header-5.html.twig" %}
{% elseif page_headers_style == 'contact' %}
	{% include theme_path ~ "/templates/page header/page-header-6.html.twig" %}
{% elseif page_headers_style == 'video' %}
	{% include theme_path ~ "/templates/page header/page-header-7.html.twig" %}
{% elseif page_headers_style == 'image' %}
	{% include theme_path ~ "/templates/page header/page-header-8.html.twig" %}
{% elseif page_headers_style == 'color' %}
	{% include theme_path ~ "/templates/page header/page-header-9.html.twig" %}
{% else %}
	{% include theme_path ~ "/templates/page header/page-header-1.html.twig" %}
{% endif %}
<!-- Page Header -->

<!-- Model Window -->
{% if page.model_window %}
	{{ page.model_window }}
{% endif %}
<!-- Model Window -->		
{% if header_style == 'style6' %}
	{% include theme_path ~ "/templates/header/header-6.html.twig" %}	
{% endif %}

<!-- Page Main -->
<div role="main" class="main">
	<div class="page-default bg-grey typo-dark">
		{% if services_layout == 'grid' %}
			{% if services_sidebar == 'left' %}
				<!-- Container -->
				<div class="container">
					<div class="row">
						<!-- Sidebar -->
						{% if page.services_sidebar %}
							<div class="col-md-3">
								<aside class="sidebar">
									{{ page.services_sidebar }}
								</aside>
							</div><!-- Column -->
						{% endif %}
						<!-- Page Content -->
						<div class="col-md-9">
							{{ page.content }}
						</div><!-- Column -->
					</div><!-- Row -->
				</div><!-- Container -->
			{% elseif services_sidebar == 'right' %}
				<!-- Container -->
				<div class="container">
					<div class="row">
						<!-- Page Content -->
						<div class="col-md-9">
							{{ page.content }}
						</div><!-- Column -->
						<!-- Sidebar -->
						{% if page.services_sidebar %}
							<div class="col-md-3">
								<aside class="sidebar">
									{{ page.services_sidebar }}
								</aside>
							</div><!-- Column -->
						{% endif %}
					</div><!-- Row -->
				</div><!-- Container -->
			{% else %}
				<!-- Container -->
				<div class="container">
					{{ page.content }}
				</div><!-- Container -->
			{% endif %}
		{% elseif services_layout == 'list' %}
			{% if services_sidebar == 'left' %}
				<!-- Container -->
				<div class="container">
					<div class="row">
						<!-- Sidebar -->
						{% if page.services_sidebar %}
							<div class="col-md-3">
								<aside class="sidebar">
									{{ page.services_sidebar }}
								</aside>
							</div><!-- Column -->
						{% endif %}
						
						<!-- Page Content -->
						<div class="col-md-9">
							<!-- List row -->
							<ul class="row">
								{{ page.content }}
							</ul><!-- List row -->
						</div><!-- Column -->
					</div><!-- Row -->
				</div><!-- Container -->
			{% elseif services_sidebar == 'right' %}
				<!-- Container -->
				<div class="container">
					<div class="row">
						<!-- Page Content -->
						<div class="col-md-9">
							<!-- List row -->
							<ul class="row">
								{{ page.content }}
							</ul><!-- List row -->
						</div><!-- Column -->
						<!-- Sidebar -->
						{% if page.services_sidebar %}
							<div class="col-md-3">
								<aside class="sidebar">
									{{ page.services_sidebar }}
								</aside>
							</div><!-- Column -->
						{% endif %}
					</div><!-- Row -->
				</div><!-- Container -->
			{% else %}
				<!-- Container -->
				<div class="container">
					<!-- List row -->
					<ul class="row">
						{{ page.content }}
					</ul><!-- List row -->
				</div><!-- Container -->
			{% endif %}
		{% elseif services_layout == '2_column' %}
			{% if services_sidebar == 'left' %}
				<!-- Container -->
				<div class="container">
					<div class="row">
						<!-- Sidebar -->
						{% if page.services_sidebar %}
							<div class="col-md-3">
								<aside class="sidebar">
									{{ page.services_sidebar }}
								</aside>
							</div><!-- Column -->
						{% endif %}
						<!-- Page Content -->
						<div class="col-md-9">
							{{ page.content }}
						</div><!-- Column -->
					</div><!-- Row -->
				</div><!-- Container -->
			{% elseif services_sidebar == 'right' %}
				<!-- Container -->
				<div class="container">
					<div class="row">
						<!-- Page Content -->
						<div class="col-md-9">
							{{ page.content }}
						</div><!-- Column -->
						<!-- Sidebar -->
						{% if page.services_sidebar %}
							<div class="col-md-3">
								<aside class="sidebar">
									{{ page.services_sidebar }}
								</aside>
							</div><!-- Column -->
						{% endif %}
					</div><!-- Row -->
				</div><!-- Container -->
			{% else %}
				<!-- Container -->
				<div class="container">
					{{ page.content }}
				</div><!-- Container -->
			{% endif %}
		{% elseif services_layout == '3_column' %}
			{% if services_sidebar == 'left' %}
				<!-- Container -->
				<div class="container">
					<div class="row">
						<!-- Sidebar -->
						{% if page.services_sidebar %}
							<div class="col-md-3">
								<aside class="sidebar">
									{{ page.services_sidebar }}
								</aside>
							</div><!-- Column -->
						{% endif %}
						<!-- Page Content -->
						<div class="col-md-9">
							{{ page.content }}
						</div><!-- Column -->
					</div><!-- Row -->
				</div><!-- Container -->
			{% elseif services_sidebar == 'right' %}
				<!-- Container -->
				<div class="container">
					<div class="row">
						<!-- Page Content -->
						<div class="col-md-9">
							{{ page.content }}
						</div><!-- Column -->
						<!-- Sidebar -->
						{% if page.services_sidebar %}
							<div class="col-md-3">
								<aside class="sidebar">
									{{ page.services_sidebar }}
								</aside>
							</div><!-- Column -->
						{% endif %}
					</div><!-- Row -->
				</div><!-- Container -->
			{% else %}
				<!-- Container -->
				<div class="container">
					{{ page.content }}
				</div><!-- Container -->
			{% endif %}
		{% else %}
			{% if services_sidebar == 'left' %}
				<!-- Container -->
				<div class="container service-sm-col">
					<div class="row">
						<!-- Sidebar -->
						{% if page.services_sidebar %}
							<div class="col-md-3">
								<aside class="sidebar">
									{{ page.services_sidebar }}
								</aside>
							</div><!-- Column -->
						{% endif %}
						<!-- Page Content -->
						<div class="col-md-9">
							{{ page.content }}
						</div><!-- Column -->
					</div><!-- Row -->
				</div><!-- Container -->
			{% elseif services_sidebar == 'right' %}
				<!-- Container -->
				<div class="container service-sm-col">
					<div class="row">
						<!-- Page Content -->
						<div class="col-md-9">
							{{ page.content }}
						</div><!-- Column -->
						<!-- Sidebar -->
						{% if page.services_sidebar %}
							<div class="col-md-3">
								<aside class="sidebar">
									{{ page.services_sidebar }}
								</aside>
							</div><!-- Column -->
						{% endif %}
					</div><!-- Row -->
				</div><!-- Container -->
			{% else %}
				<!-- Container -->
				<div class="container service-sm-col">
					{{ page.content }}
				</div><!-- Container -->
			{% endif %}
		{% endif %}
	</div><!-- Page Default -->
</div><!-- Page Main -->

<!-- Footer -->
{% include theme_path ~ "/templates/footer/footer-7.html.twig" %}
<!-- Footer -->