<!-- Theme Panel Switcher -->
{% if disable_switch =='on' %}
    {% include theme_path ~ "/templates/switcher-style.html.twig" %}
{% endif %}<!-- End Theme Panel Switcher -->
{% set contact_style = node.field_contact_style.0.value %}
{% if contact_style == '' %}
  {% set contact_style = 'style1' %}
{% endif %}
{% set header_style = node.field_header_style.0.value %}
{% if header_style == '' %}
  {% set header_style = 'style1' %}
{% endif %}
{% set page_header = node.field_page_header.0.value %}
{% if page_header == '' %}
  {% set page_header = 'none' %}
{% endif %}
<!-- Header Begins -->
{% include theme_path ~ "/templates/header/header-3.html.twig" %}
<!-- Header Ends -->

<!-- Page Header -->
{% if page_header == 'default' %}
	{% include theme_path ~ "/templates/page header/page-header-1.html.twig" %}
{% elseif page_header == 'dark' %}
	{% include theme_path ~ "/templates/page header/page-header-2.html.twig" %}
{% elseif page_header == 'small' %}
	{% include theme_path ~ "/templates/page header/page-header-3.html.twig" %}
{% elseif page_header == 'center' %}
	{% include theme_path ~ "/templates/page header/page-header-4.html.twig" %}
{% elseif page_header == 'button' %}
	{% include theme_path ~ "/templates/page header/page-header-5.html.twig" %}
{% elseif page_header == 'contact' %}
	{% include theme_path ~ "/templates/page header/page-header-6.html.twig" %}
{% elseif page_header == 'video' %}
	{% include theme_path ~ "/templates/page header/page-header-7.html.twig" %}
{% elseif page_header == 'image' %}
	{% include theme_path ~ "/templates/page header/page-header-8.html.twig" %}
{% elseif page_header == 'color' %}
	{% include theme_path ~ "/templates/page header/page-header-9.html.twig" %}
{% else %}
{% endif %}
<!-- Page Header -->

<!-- Model Window -->
{% if page.model_window %}
	{{ page.model_window }}
{% endif %}
<!-- Model Window -->		
{% if header_style == 'style6' %}
	{% include theme_path ~ "/templates/header/header-6.html.twig" %}	
{% endif %}

{% if contact_style == 'style1' %}

	<!-- Page Main -->
	<div role="main" class="main">
		<!-- Section -->
		<section class="pad-none typo-dark">
			<div class="container-fluid">
				<div class="row">
					{% if page.left_form_contact %}
						{{ page.left_form_contact }}
	                {% endif %}
	                <!-- Column -->
					<div class="col-md-4 pad-40 col-eq-height bg-lgrey">
						{{ page.content_full_bar }}
						{{ page.content }}
						{% if page.from_contact %}
							{{ page.from_contact }}
						{% endif %}
					</div><!-- Column -->
					
					{% if page.right_form_contact %}
						{{ page.right_form_contact }}
	                {% endif %}
				</div><!-- Row -->
			</div><!-- Container -->
		</section><!-- Section -->
		{% if page.section %}
			{{ page.section }}
		{% endif %}
	</div><!-- Page Main -->
{% elseif contact_style == 'style2' %}
	<!-- Page Main -->
	<div role="main" class="main">
		<!-- Section -->
		<section class="bg-lgrey">	
			<div class="container">
				<div class="row">
					{% if page.left_form_contact %}
						{{ page.left_form_contact }}
	                {% endif %}
					
					<div class="col-sm-6">
						<div class="contact-info">
							<div class="info-icon bg-dark">
								<i class="uni-fountain-pen"></i>
							</div>
							{{ page.content_full_bar }}
							{{ page.content }}
							{% if page.from_contact %}
								{{ page.from_contact }}
							{% endif %}
						</div><!-- Contact Info -->
					</div><!-- Column -->
				</div><!-- Row -->
			</div><!-- Container -->	
		</section><!-- Section -->

		{% if page.section %}
			{{ page.section }}
		{% endif %}
	</div><!-- Page Main -->
{% else %}
	<!-- Page Main -->
	<div role="main" class="main">
		{% if page.top_section %}
			{{ page.top_section }}
		{% endif %}
		
		<!-- Section -->
		<section class="pad-none typo-dark">
			<div class="container-fluid">
				<div class="row">
					<!-- Column -->
					<div class="col-sm-7 pad-60 col-eq-height bg-lgrey">
						<div class="title-container text-left sm">
							<div class="title-wrap">
								<h4 class="title">{{ title }}</h4>
								<span class="separator line-separator"></span>
							</div>							
						</div><!-- Name -->
						{{ page.content_full_bar }}
						{{ page.content }}
						{% if page.from_contact %}
							{{ page.from_contact }}
						{% endif %}
					</div><!-- Column -->
					
					{% if page.right_form_contact %}
						{{ page.right_form_contact }}
	                {% endif %}
				</div><!-- Row -->
			</div><!-- Container -->
		</section><!-- Section -->
		{% if page.section %}
			{{ page.section }}
		{% endif %}
	</div><!-- Page Main -->
{% endif %}
<!-- Footer -->
{% set footer_style = node.field_footer_style.0.value %}
{% if footer_style == '' %}
  {% set footer_style = 'default' %}
{% endif %}
{% include theme_path ~ "/templates/footer/footer-7.html.twig" %}
<!-- Footer -->