<!-- Theme Panel Switcher -->
{% if disable_switch =='on' %}
    {% include theme_path ~ "/templates/switcher-style.html.twig" %}
{% endif %}<!-- End Theme Panel Switcher -->
{% set single_sidebar = node.field_about_sidebar.0.value %}
{% if single_sidebar == '' %}
  {% set single_sidebar = 'none' %}
{% endif %}
{% set header_style = node.field_header_style.0.value %}
{% if header_style == '' %}
  {% set header_style = 'style1' %}
{% endif %}
{% set page_header = node.field_page_header.0.value %}
{% if page_header == '' %}
  {% set page_header = 'none' %}
{% endif %}
<!-- Header Begins -->
{% include theme_path ~ "/templates/header/header-3.html.twig" %}
<!-- Header Ends -->

<!-- Page Header -->
{% if page_header == 'default' %}
	{% include theme_path ~ "/templates/page header/page-header-1.html.twig" %}
{% elseif page_header == 'dark' %}
	{% include theme_path ~ "/templates/page header/page-header-2.html.twig" %}
{% elseif page_header == 'small' %}
	{% include theme_path ~ "/templates/page header/page-header-3.html.twig" %}
{% elseif page_header == 'center' %}
	{% include theme_path ~ "/templates/page header/page-header-4.html.twig" %}
{% elseif page_header == 'button' %}
	{% include theme_path ~ "/templates/page header/page-header-5.html.twig" %}
{% elseif page_header == 'contact' %}
	{% include theme_path ~ "/templates/page header/page-header-6.html.twig" %}
{% elseif page_header == 'video' %}
	{% include theme_path ~ "/templates/page header/page-header-7.html.twig" %}
{% elseif page_header == 'image' %}
	{% include theme_path ~ "/templates/page header/page-header-8.html.twig" %}
{% elseif page_header == 'color' %}
	{% include theme_path ~ "/templates/page header/page-header-9.html.twig" %}
{% else %}
{% endif %}
<!-- Page Header -->

<!-- Model Window -->
{% if page.model_window %}
	{{ page.model_window }}
{% endif %}
<!-- Model Window -->		
{% if header_style == 'style6' %}
	{% include theme_path ~ "/templates/header/header-6.html.twig" %}	
{% endif %}

<div role="main" class="main">
	{% if single_sidebar == 'left' %}
		{{ page.content_full_bar }}
		<div class="page-default typo-dark">
			<!-- Container -->
			<div class="container">
				<div class="row">
					<!-- Sidebar -->
					<div class="col-md-3">
						<!-- aside -->
						{% if page.about_sidebar %}
						<aside class="sidebar">
							{{ page.about_sidebar }}
						</aside><!-- aside -->
						{% endif %}	
					</div><!-- Column -->
					
					<!-- Page Content -->
					<div class="col-md-9">
						{% if page.top_section %}
							{{ page.top_section }}
						{% endif %}
						{{ page.content }}
					</div><!-- Content Column -->	
				</div><!-- Row -->
			</div><!-- Container -->
		</div><!-- Page Default -->
		{% if page.section %}
			{{ page.section }}
		{% endif %}
	{% elseif single_sidebar == 'right' %}
		{{ page.content_full_bar }}
		<div class="page-default typo-dark">
			<!-- Container -->
			<div class="container">
				<div class="row">
					<!-- Page Content -->
					<div class="col-md-9">
						{% if page.top_section %}
							{{ page.top_section }}
						{% endif %}
						{{ page.content }}
					</div><!-- Content Column -->	
					<!-- Sidebar -->
					<div class="col-md-3">
						<!-- aside -->
						{% if page.about_sidebar %}
						<aside class="sidebar">
							{{ page.about_sidebar }}
						</aside><!-- aside -->
						{% endif %}	
					</div><!-- Column -->
				</div><!-- Row -->
			</div><!-- Container -->
		</div><!-- Page Default -->
		{% if page.section %}
			{{ page.section }}
		{% endif %}
	{% else %}
		{{ page.content_full_bar }}
		{{ page.content }}
		{% if page.top_section %}
			{{ page.top_section }}
		{% endif %}
		{% if page.section %}
			{{ page.section }}
		{% endif %}
	{% endif %}

</div>
<!-- Footer -->
{% set footer_style = node.field_footer_style.0.value %}
{% if footer_style == '' %}
  {% set footer_style = 'default' %}
{% endif %}
{% include theme_path ~ "/templates/footer/footer-7.html.twig" %}
<!-- Footer -->