<!-- Theme Panel Switcher -->
{% if disable_switch =='on' %}
    {% include theme_path ~ "/templates/switcher-style.html.twig" %}
{% endif %}<!-- End Theme Panel Switcher -->

<!-- Header Begins -->
{% include theme_path ~ "/templates/header/header-3.html.twig" %}
<!-- Header Ends -->

<!-- Page Header -->
{% if page_headers_style == 'dark' %}
	{% include theme_path ~ "/templates/page header/page-header-2.html.twig" %}
{% elseif page_headers_style == 'small' %}
	{% include theme_path ~ "/templates/page header/page-header-3.html.twig" %}
{% elseif page_headers_style == 'center' %}
	{% include theme_path ~ "/templates/page header/page-header-4.html.twig" %}
{% elseif page_headers_style == 'button' %}
	{% include theme_path ~ "/templates/page header/page-header-5.html.twig" %}
{% elseif page_headers_style == 'contact' %}
	{% include theme_path ~ "/templates/page header/page-header-6.html.twig" %}
{% elseif page_headers_style == 'video' %}
	{% include theme_path ~ "/templates/page header/page-header-7.html.twig" %}
{% elseif page_headers_style == 'image' %}
	{% include theme_path ~ "/templates/page header/page-header-8.html.twig" %}
{% elseif page_headers_style == 'color' %}
	{% include theme_path ~ "/templates/page header/page-header-9.html.twig" %}
{% else %}
	{% include theme_path ~ "/templates/page header/page-header-1.html.twig" %}
{% endif %}
<!-- Page Header -->

<!-- Model Window -->
{% if page.model_window %}
	{{ page.model_window }}
{% endif %}
<!-- Model Window -->		
{% if header_style == 'style6' %}
	{% include theme_path ~ "/templates/header/header-6.html.twig" %}	
{% endif %}

<!-- Page Main -->
<div role="main" class="main">
	<div class="page-default bg-grey typo-dark">
		{% if cases_layout == 'grid' %}
			{% if cases_sidebar == 'left' %}
				<div class="container">
					<div class="row">
						{% if page.case_sidebar %}
						<div class="col-md-3">
							<aside class="sidebar">
								{{ page.case_sidebar }}
							</aside>	
						</div>
						{% endif %}
						<!-- Page Content -->
						<div class="col-md-9">
							{{ page.content }}
						</div><!-- Column -->
					</div><!-- Row -->	
				</div><!-- Container -->
			{% elseif cases_sidebar == 'right' %}
				<div class="container">
					<div class="row">
						<!-- Page Content -->
						<div class="col-md-9">
							{{ page.content }}
						</div><!-- Column -->
						{% if page.case_sidebar %}
						<div class="col-md-3">
							<aside class="sidebar">
								{{ page.case_sidebar }}
							</aside>
						</div>
						{% endif %}
						
					</div><!-- Row -->	
				</div><!-- Container -->
			{% else %}
				<div class="container">
					{{ page.content }}
				</div>
			{% endif %}
		{% elseif cases_layout == 'list' %}
			{% if cases_sidebar == 'left' %}
				<!-- Container -->
				<div class="container">
					<div class="row">
						{% if page.case_sidebar %}
						<div class="col-md-3">
							<aside class="sidebar">
								{{ page.case_sidebar }}
							</aside>
						</div>
						{% endif %}
						
						<!-- Page Content -->
						<div class="col-md-9">
							<ul class="row case-container case-list">
								{{ page.content }}
							</ul><!-- Row -->
						</div><!-- Column -->
					</div><!-- Row -->		
				</div><!-- Container -->
			{% elseif cases_sidebar == 'right' %}
				<!-- Container -->
				<div class="container">
					<div class="row">
						<!-- Page Content -->
						<div class="col-md-9">
							<ul class="row case-container case-list">
								{{ page.content }}
							</ul><!-- Row -->
						</div><!-- Column -->
						{% if page.case_sidebar %}
						<div class="col-md-3">
							<aside class="sidebar">
								{{ page.case_sidebar }}
							</aside>
						</div>
						{% endif %}
					</div><!-- Row -->		
				</div><!-- Container -->
			{% else %}
				<div class="container case-container case-list">
					<ul class="row">
						{{ page.content }}
					</ul><!-- Row -->
				</div>
			{% endif %}
		{% elseif cases_layout == '2_column' %}
			{% if cases_sidebar == 'left' %}
				<div class="container">
					<div class="row">
						{% if page.case_sidebar %}
						<div class="col-md-3">
							<aside class="sidebar">
								{{ page.case_sidebar }}
							</aside>
						</div>
						{% endif %}
						<div class="col-md-9">
							{{ page.content }}
						</div>
					</div>
				</div>
			{% elseif cases_sidebar == 'right' %}
				<div class="container">
					<div class="row">
						<div class="col-md-9">
							{{ page.content }}
						</div>
						{% if page.case_sidebar %}
						<div class="col-md-3">
							<aside class="sidebar">
								{{ page.case_sidebar }}
							</aside>	
						</div>
						{% endif %}
					</div>
				</div>
			{% else %}
				<div class="container">
					{{ page.content }}
				</div>
			{% endif %}
		{% elseif cases_layout == '3_column' %}
			{% if cases_sidebar == 'left' %}
				<div class="container">
					<div class="row">
						{% if page.case_sidebar %}
						<div class="col-md-3">
							<aside class="sidebar">
								{{ page.case_sidebar }}
							</aside>	
						</div>
						{% endif %}
						<div class="col-md-9">
							{{ page.content }}
						</div>
					</div>
				</div>
			{% elseif cases_sidebar == 'right' %}
				<div class="container">
					<div class="row">
						<div class="col-md-9">
							{{ page.content }}
						</div>
						{% if page.case_sidebar %}
						<div class="col-md-3">
							<aside class="sidebar">
								{{ page.case_sidebar }}
							</aside>	
						</div>
						{% endif %}
					</div>
				</div>
			{% else %}
				<div class="container">
					{{ page.content }}
				</div>
			{% endif %}
		{% else %}
			{% if cases_sidebar == 'left' %}
				<div class="container case-sm-col">
					<div class="row">
						{% if page.case_sidebar %}
						<div class="col-md-3">
							<aside class="sidebar">
								{{ page.case_sidebar }}
							</aside>	
						</div>
						{% endif %}
						<div class="col-md-9">
							{{ page.content }}
						</div>
					</div>
				</div>
			{% elseif cases_sidebar == 'right' %}
				<div class="container case-sm-col">
					<div class="row">
						<div class="col-md-9">
							{{ page.content }}
						</div>
						{% if page.case_sidebar %}
						<div class="col-md-3">
							<aside class="sidebar">
								{{ page.case_sidebar }}
							</aside>	
						</div>
						{% endif %}
					</div>
				</div>
			{% else %}
				<div class="container case-sm-col">
					{{ page.content }}
				</div><!-- Container -->
			{% endif %}
		{% endif %}
	</div><!-- Page Default -->
</div><!-- Page Main -->

<!-- Footer -->
{% include theme_path ~ "/templates/footer/footer-7.html.twig" %}
<!-- Footer -->